extends layout

block content
  h2 #{title}.
  p This is a project which intends to digitilize the affairs with food and drinks in association Kodmården. It is a project made in the course Tillämpad programmering, summer 2015.  
