extends layout

block content
  h2 #{title}.
  adress
    | Anton Oden
    br
    | Jakthornsgatan 76
    br
    | 656 32 Karlstad
    br
    br
    abbr(title='Phone') Phone: 
    | +4676 811 94 44

  address
    strong Support: 
    a(href='mailto:antonoden@hotmail.com') antonoden@hotmail.com
    br
